[push]
	default = upstream
[core]
	editor = vim

[merge]
	tool = meld
    
[mergetool "intellij"]
	cmd = /opt/idea-latest/bin/idea.sh merge $(cd $(dirname $LOCAL) && pwd)/$(basename $LOCAL) $(cd $(dirname $REMOTE) && pwd)/$(basename $REMOTE) $(cd $(dirname $BASE) && pwd)/$(basename $BASE) $(cd $(dirname $MERGED) && pwd)/$(basename $MERGED) && read -s
   trustExitCode = true
[diff]
   tool = intellij
[difftool "intellij"]
	cmd = bash -c \"/opt/idea-latest/bin/idea.sh diff $(cd $(dirname $LOCAL) && pwd)/$(basename $LOCAL) $(cd $(dirname $REMOTE) && pwd)/$(basename $REMOTE) && read -s\"
[color "diff"]
	whitespace = red reverse
[alias]
df = diff --ws-error-highlight=all
s = status
a = add
au = add -u
d = diff
dc = diff --cached
c = commit
cm = commit -m 
l = log --decorate
ps = push
pl = pull
pn = push -u origin HEAD
m = merge
ru = remote update
ch = checkout
